* {
    base: #202020;
    smol: #383838;
    dim: #525252;
    meh: #8b8b8b;
    text: #c8c8c8;

    red: #fd7eaa;
    peach: #deb39c;
    mire: #c0c295;
    green: #97cbb8;
    blue: #96c6dd;
    purp: #bcb8e2;
}
